@using GRADEXPO.Models;
@model List<Expos>
@{
    ViewBag.Title = "Работа с выставками"; 
}

@Html.ActionLink("Создать новую выставку", "AddExpos", null, new { @class = "btn btn-primary btn-lg" })

<br />
<br />
<br />
<h3>Список выставок</h3>
<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Название выставки</th>
                <th scope="col">Описание выставки</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr class="table-active">
                <td scope="row">@Html.DisplayFor(modelItem => item.expoId)</td>
                <td>@Html.DisplayFor(modelItem => item.expoName)</td>
                <td>@Html.DisplayFor(modelItem => item.description)</td>
                <td>
                    <div class="form-actions no-color">
                        @Html.HiddenFor(id => item.expoId)
                        @Html.ActionLink("Изменить", "EditExpo", new { id = item.expoId })

                        @Html.ActionLink("Информация", "DetailsOfExpo", new { id = item.expoId })

                        @Html.ActionLink("Удалить", "DeleteExpo", new { id = item.expoId })
                    </div>
                </td>
            </tr>
            }
    </table>
</div>

