@using GRADEXPO.Models;
@model List<Expos>
@{
    ViewBag.Title = "Работа с выставками"; 
}

@Html.ActionLink("Создать новую выставку", "AddExpos", null, new { @class = "btn btn-primary btn-lg" })

<br />
<br />
<br />
<h3>Список выставок</h3>
<div class="table-responsive">

    @foreach (var item in Model)
    {
        <div class="jumbotron">
            <h1 class="display-3">@Html.DisplayFor(modelItem => item.expoName)</h1>
            <p class="lead">
                @if (item.logoFileId != 0)
                {
                    <img src="@Url.Action("Show", "Image", new { id = item.logoFileId })" alt="Image" />
                }
                else
                {
                    <img src="@string.Format("{0}://{1}/Images/nonephote.png",Request.Url.Scheme, Request.Url.Authority )"  alt="Image" />
                }
            </p>
            <hr class="my-4">
            <p>@Html.DisplayFor(modelItem => item.description)</p>
            <p class="lead">
                @Html.ActionLink("Поробнее", "DetailsOfExpo", new { _idExpo = item.expoId }, new { @class="btn btn-primary btn-lg" })
            </p>
        </div>
    }

</div>

