<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GRADExpo</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquery-ui.css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/custom.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")



    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $("#accordion").accordion();
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <a href="../" class="navbar-brand">GRADEXPO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Администрирование <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="themes">
                            @Html.ActionLink("Пользователи", "../Users", null, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Выставки", "../Expos", null, new { @class = "dropdown-item" })
                            <a class="dropdown-item" href="#">Поставщики</a>
                            <a class="dropdown-item" href="#">Стенды выставок</a>
                            <a class="dropdown-item" href="#">Визиты пользователей</a>
                            <a class="dropdown-item" href="#">Список проектов и продуктов</a>
                            <a class="dropdown-item" href="#">Встречи пользователей</a>
                        </div>
                    </li>

                </ul>
                <ul class="nav navbar-nav ml-auto">
                    @Html.Partial("_LoginPartial")
                </ul>

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

    </div>
    
</body>
</html>
