@using GRADEXPO.Models;
@model  List<Stands>
@{
    ViewBag.Title = "Информация о стендах на выставке ";
}

<div class="table-responsive">
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Зал</th>
            <th scope="col">Описание</th>
            <th scope="col">Поставщик</th>
            <th scope="col">Стаус</th>
            <th scope="col">Дата встречи</th>
            <th scope="col">Время встречи</th>
            <th scope="col">Сотрудники</th>
            <th scope="col">Контакты поставщика</th>
            <th scope="col">Комментарии</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="table-active">
            <td>@Html.DisplayFor(modelItem => item.hall)</td>
            <td>@Html.DisplayFor(modelItem => item.description)</td>
            @if (item.vendor != null)
            {
                <td>@Html.DisplayFor(modelItem => item.vendor.vendorName)</td>
            }
            else
            {
                <td></td>
            }
            <td>@Html.DisplayFor(modelItem => item.statusId)</td>
            <td>????????????</td>
            <td>????????????</td>
            <td>????????????</td>
            <td>????????????</td>
            <td>????????????</td>
            <td>
                @Html.ActionLink("Изменить", "EditStand", "Stands", new { standId = item.standId, expoId = item.expoId }, new { @class = "btn btn-info btn-sm" })
                <br />
                <br />
                @Html.ActionLink("Запланировать визит", "AddPlanVisit", "PlanVisit", new { expoId = item.expoId, standId = item.standId, vendorId = item.vendorId }, new { @class = "btn btn-info btn-sm" })
            </td>
        </tr>
        }
</table>
</div>

